@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --muted-foreground: #a1a1aa;
}

body {
  color: var(--foreground);
  background: var(--background);
}
